---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dev Books">
  <main class="grid min-h-[70vh] place-content-center">
    <h1 class="text-center text-7xl font-extrabold">
      Dev 🧑‍💻:
      <span class="text-purple-400">Books</span>
    </h1>
  </main>
</Layout>